
<head>

<style type="text/css">
  body {
    background-color: #DADADA;
  }
  body > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 450px;
  }
</style>
<script>
$(document)
  .ready(function() {
    $('.ui.form')
      .form({
        fields: {
          email: {
            identifier  : 'email',
            rules: [
              {
                type   : 'empty',
                prompt : 'Please enter your e-mail'
              },
              {
                type   : 'email',
                prompt : 'Please enter a valid e-mail'
              }
            ]
          },
          password: {
            identifier  : 'password',
            rules: [
              {
                type   : 'empty',
                prompt : 'Please enter your password'
              },
              {
                type   : 'length[6]',
                prompt : 'Your password must be at least 6 characters'
              }
            ]
          }
        }
      })
    ;
  })
;
</script>
</head>


<div class="ui middle aligned center aligned grid">
    <div class="column" style="transform: translate(0,-50%); position:absolute; top:50%">
      <h2 class="ui green image header">
        <!-- <img src="assets/images/logo.png" class="image"> -->
        <div class="content">
          Logar no painel
        </div>
      </h2>
      <form class="ui large form" #loginForm="ngForm" (ngSubmit)="validateLogin()">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="Username" [(ngModel)] = "user.username" placeholder="Usuário" required id="inputUser" class="form-control">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="Userpass" [(ngModel)] = "user.pass" placeholder="Senha" required id="inputPassword" class="form-control">
            </div>
          </div>

          
          <div class="ui fluid large green submit button" [routerLink]="['']" (click)="validateLogin();">Logar</div>
            <br>
        
          <div class="ui fluid large green submit button" [routerLink]="['/cadastrar']">Cadastrar</div>
        </div>
        
  
        <div class="ui error message"></div>
  
      </form>
       
    </div>
  </div>