<head>

  <style type="text/css">
    body {
      background-color: #DADADA;
    }

    body>.grid {
      height: 100%;
    }

    .image {
      margin-top: -100px;
    }

    .column {
      max-width: 450px;
    }
  </style>

</head>



<div class="ui grid container">


    <div class="ui three column divided grid">
      <div class="row">
        <div class="column">
          <p></p>
        </div>
        <div class="column">  
          <p></p>
        </div>
        <div class="column">
          <p></p>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <p></p>
        </div>
        <div class="column">
          <p></p>
        </div>
        <div class="column">
          <p></p>
        </div>
      </div>




  </div>
  <div class="four wide column">
    <div class="ui input">
      <input type="text" placeholder="Aliiiiiiiiiiii">
    </div>
  </div>
  <div class="four wide column"></div>

  <div class="four wide column"></div>

</div>