<head>

  <style type="text/css">
    body {
      background-color: #DADADA;
    }

    body>.grid {
      height: 100%;
    }

    .image {
      margin-top: -100px;
    }

    .column {
      max-width: 450px;
    }
  </style>

</head>


<form class="ui fluid form" style="transform: translate(-50%,-50%); position:absolute; top:40%; left:50%">
  <div class="field" >
    <input type="text"  placeholder="Username">
    <div class="ui pointing label">
      Please enter your username
    </div>
  </div>
  <div class="ui divider"></div>
  <div class="field" >
    <div class="ui pointing below label">
      Please enter your email
    </div>
    <input type="text"  placeholder="Email">
  </div>
  <div class="ui divider"></div>
  <div class="inline field">
    <input type="text" placeholder="Ex: 14">
    <div class="ui left pointing label">
      Valor da hora!
    </div>
  </div>
  <div class="ui divider"></div>
  <div class="inline field">
    <div class="ui right pointing label">
      Your password
    </div>
    <input  type="password">
  </div>
  <div class="inline field">
    <div class="ui right pointing label">
      Repeat your password
    </div>
    <input  type="password">
    <button class="ui primary button" >
      Save
    </button>
  
  </div>








</form>
